
header{
    display: block;
    background-color: var(--grey);
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    height: 150px;
    border-radius: 10px;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user .userIcon{
    font-size: 60px;
    margin-left: 30px;
    margin-top: -50px;
}
.user .calendarIcon{
    font-size: 30px;
    margin-right: 10px;
    margin-top: -25px;
    color: var(--soft-red)
}

.info{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}
.info p{
    transition: all 100ms;
    cursor: pointer;
}
.info .selected,
.info p:hover{
    border-bottom: 2px solid var(--dark-red);
    font-weight: bold;
    
}

section{
    display: block;
}

.search{
    display: flex;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}
.search input{
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    border-color: var(--grey);
}
.search .heartIcon{
    font-size: 2em;
    width: 5%;
    margin-left: 5px;
    color: var(--dark-red);
}

.filtro{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: space-around;
}

.filtro .filtroIcon,
.filtro .flechaIcon{
    font-size: 40px;
    transition: all 300ms;
}
.filtro .filtroIcon:hover{
    color: var(--dark-red);
    transform: scale(1.1, 1.1);
}
.filtro .flechaIcon:hover{
    color: grey;
    transform: scale(1.1, 1.1);
}

.add{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin: 0 auto;
}
.addIcon{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    color: black;
}

