/* Login.css */

/* Contenedor principal del Login */

.login-page{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-container {
    width: 25%;
    background-color: var(--grey);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Títulos dentro del Login */
  .login-container .login-title {
    font-size: 24px;
    font-weight: bold;
    color: #ff3b3f;
    text-align: center;
  }
  
  /* Campos de entrada dentro del Login */
  .login-container .input-field {
    margin-bottom: 20px;
  }
  
  .login-container .input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .login-container .input-field input:focus {
    border-color: #ff3b3f;
  }
  
  /* Botón de Login */
  .login-container .login-button {
    width: 100%;
    padding: 12px;
    background-color: #ff3b3f;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container .login-button:hover {
    background-color: #ff5c5f;
  }
  
  /* Enlace para recuperar contraseña */
  .login-container .forgot-password-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ff3b3f;
    text-decoration: none;
  }
  
  .login-container .forgot-password-link:hover {
    text-decoration: underline;
  }
  
  /* Enlace para registrar */
  .login-container .register-link {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
    color: #ff3b3f;
    transition: all 300ms;
  }
  .login-container .register-link:hover {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
    color: #ff3b3f;
    transform: scale(1.1, 1.1);
  }
}
  