.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 20%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .carousel-slide {
    text-align: center;
    height: 100%;
    margin-left: 6rem;
    margin-right: 6rem;
    
  }
  
  .carousel-slide img {
    height: 100%;
    object-fit: contain;
  }
  
  .item-name {
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Flechas de navegación */
  .arrow {
    background: #EF233C;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .arrow:hover {
    background: #D90429;
  }
  
  .prev {
    left: -50px;
  }
  
  .next {
    right: -50px;
  }
  