
.datos{
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5rem;
}

.clothe-card{
    width: 15rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--grey);
}