/* Register.css */

/* Contenedor principal del Register */
.register-container {
    width: 35%;
    margin: 0 auto;
    margin-top: 90px;
    background-color: #f8f8f8;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Títulos dentro del Register */
  .register-container .register-title {
    font-size: 24px;
    font-weight: bold;
    color: #ff3b3f;
    text-align: center;
  }
  
  /* Campos de entrada dentro del Register */
  .register-container .input-field {
    margin-bottom: 20px;
  }
  
  .register-container .input-field input,
  .register-container .input-field select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .register-container .input-field input:focus,
  .register-container .input-field select:focus {
    border-color: #ff3b3f;
  }
  
  /* Botón de Register */
  .register-container .register-button {
    width: 100%;
    padding: 12px;
    background-color: #ff3b3f;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-container .register-button:hover {
    background-color: #ff5c5f;
  }
  
  /* Enlace para login */
  .register-container .login-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: #ff3b3f;
    text-decoration: none;
    transition: all 300ms;
  }
  .register-container .login-link:hover{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: #ff3b3f;
    text-decoration: none;
    transform: scale(1.1, 1.1);
  }
  